<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{panelTitle}}</h3>
      </div>
      <div class="panel-body">

        <!-- <div class="form-group" [ngClass]="{'has-error':this.employeeForm.get('fullName')?.invalid &&
        (this.employeeForm.get('fullName')?.touched || this.employeeForm.get('fullName')?.dirty)}">
            <div class="row">
                <label class="col-sm-2  control-label" for="fullName">Full Name</label>
                <div class="col-sm-8">
                    <input id="fullName" type="text" class="form-control" formControlName="fullName">
                     {{ this.characterCount}} 
                    <span class="help-block" *ngIf="this.employeeForm.get('fullName')?.errors?.['required'] &&
                    (this.employeeForm.get('fullName')?.touched || this.employeeForm.get('fullName')?.dirty)">
                    Full Name is required</span>
                    <span class="help-block" *ngIf="(this.employeeForm.get('fullName')?.errors?.['minlength'] || this.employeeForm.get('fullName')?.errors?.['maxlength']) &&
                    (this.employeeForm.get('fullName')?.touched || this.employeeForm.get('fullName')?.dirty)">
                    Full Name must be having more than 1 and less than 11 characters</span>                   
                </div>       
            </div>
        </div> -->
        <div class="form-group" [ngClass]="{'has-error':this.formErrors.fullName}">
            <div class="row">
                <label class="col-sm-2  control-label" for="fullName">Full Name</label>
                <div class="col-sm-8">
                    <input id="fullName" (blur)="LoopThrough()" type="text" class="form-control" formControlName="fullName">
                    <span class="help-block" *ngIf="this.formErrors.fullName">
                    {{this.formErrors.fullName}}</span>             
                </div>       
            </div>
        </div>
  
        <div formGroupName="emailGroup" [ngClass]="{'has-error':this.formErrors.emailGroup}">
            <div class="form-group" [ngClass]="{'has-error':this.formErrors.email}">
                <div class="row">
                    <label class="col-sm-2  control-label" for="email">Email</label>
                    <div class="col-sm-8">
                        <input id="email" (blur)="LoopThrough()" type="text" class="form-control" formControlName="email">
                        <span class="help-block" *ngIf="this.formErrors.email">
                        {{this.formErrors.email}}</span>    
                    </div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error':this.formErrors.confirmEmail}">
                <div class="row">
                    <label class="col-sm-2  control-label" for="confirmEmail">Confirm Email</label>
                    <div class="col-sm-8">
                        <input id="confirmEmail" (blur)="LoopThrough()" type="text" class="form-control" formControlName="confirmEmail">
                        <span class="help-block" *ngIf="this.formErrors.confirmEmail">
                        {{this.formErrors.confirmEmail}}</span>    
                        <span class="help-block" *ngIf="this.formErrors.emailGroup">
                            {{this.formErrors.emailGroup}}</span>    
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':this.formErrors.phone}">
            <div class="row">
                <label class="col-sm-2  control-label" for="phone">Phone</label>
                <div class="col-sm-8">
                    <input id="phone" (blur)="LoopThrough()" type="text" class="form-control" formControlName="phone">
                    <span class="help-block" *ngIf="this.formErrors.phone">
                    {{this.formErrors.phone}}</span>    
                </div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':this.formErrors.contactPreference}">
            <div class="row">
                <label class="col-sm-2 control-label">Contact Preference</label>
                <div class="col-sm-8">
                    <label class="radio-inline">
                    <input type="radio" (blur)="LoopThrough()" value="email" formControlName="contactPreference">
                    Email</label>
                    <label class="radio-inline">
                    <input type="radio" (blur)="LoopThrough()" value="phone" formControlName="contactPreference">
                    Phone</label>
                    <span class="help-block" *ngIf="this.formErrors.contactPreference">
                        {{this.formErrors.contactPreference}}</span>   
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <button [disabled]="this.employeeForm.get('skills')?.invalid" type="button" class="btn btn-primary" (click)="AddSkill()">Add skill</button>
                </div>
            </div>
            <br>
            <!-- (blur)="LoopThrough()" is not required in skill as formError object now does not store the errors -->
            <div formArrayName="skills" 
            *ngFor="let skill of getControls();let i=index;">
            <hr *ngIf="i>0">
                <div [formGroupName]="i">
                    
                            <div class="form-group" [ngClass]="{'has-error':skill.get('skillName')?.invalid
                                                                    && skill.get('skillName')?.touched}">
                                <div class="row">
                                <label class="col-sm-2  control-label" [attr.for]='"skillName"+i'>Skill name</label>
                                <div class="col-sm-8">
                                <input [id]='"skillName"+i'  placeholder="Skill Name" type="text" class="form-control" formControlName="skillName">
                                <span class="help-block" *ngIf="skill.get('skillName')?.errors?.['required']
                                                                && skill.get('skillName')?.touched">
                                    Skill Name is require</span>      
                                </div>
                                <div class="col-sm-2" *ngIf="getControls().length>1">
                                    <button class="btn btn-danger btn-sm pull-right" title="Delete Skill" type="button" (click)="DeleteSkill(i)">
                                        <span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                                </div>
                            </div>
                            <div class="form-group"  [ngClass]="{'has-error':skill.get('experienceInYears')?.invalid
                                                                    && skill.get('experienceInYears')?.touched}">
                                <div class="row">
                                <label class="col-sm-2  control-label" [attr.for]='"experienceInYears"+i'>Experience in years</label>
                                <div class="col-sm-8">
                                <input [id]='"experienceInYears"+i'  placeholder="Experience in Years" type="text" class="form-control" formControlName="experienceInYears">
                                <span class="help-block" *ngIf="skill.get('experienceInYears')?.errors?.['required']
                                                                && skill.get('experienceInYears')?.touched">
                                Experience in yeras is required</span>      
                                </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':skill.get('proficiency')?.invalid
                                                                    && skill.get('proficiency')?.touched}">
                                <div class="row">
                                    <label class="col-sm-2 control-label">Proficiency</label>
                                    <div class="col-sm-8">
                                        <label class="radio-inline">
                                        <input type="radio" value="beginner" formControlName="proficiency">
                                        Beginner</label>
                                        <label class="radio-inline">
                                        <input type="radio" value="proficient" formControlName="proficiency">
                                        Proficient</label>
                                        <label class="radio-inline">
                                        <input type="radio" value="expert" formControlName="proficiency">
                                        Expert</label>
                                        <span class="help-block" *ngIf="skill.get('proficiency')?.errors?.['required']
                                                                && skill.get('proficiency')?.touched">
                                            Proficiency is required</span>   
                                    </div>
                                </div>
                            </div>
                        
                </div>
               
            </div>
        </div>

      </div>
      <div class="panel-footer">
        <div class="btn-toolbar">
            <button class="btn btn-primary" type="submit" [disabled]="this.employeeForm.invalid">Save</button>
            <button class="btn btn-primary" type="button" (click)="LoadData()">Load Data</button>
        </div>
      </div>
    </div>
</form>
<div>
    {{this.employeeForm.controls['fullName'].value}}
    <br>
    {{this.employeeForm.get('fullName')?.valid}}
</div>